* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../../pics/optional_background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
table{
    background-color: black;
    margin-top: 1.5rem;
    border-radius: 25px;
    box-shadow: 15px 15px 10px black;
    padding: 1rem;
    border: 2px solid black;
    color: white;
    max-width: 50%;
    min-width: 250px;
    margin: auto;
    margin-bottom: 2rem;
}
td{
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    margin-bottom: 1.5rem;
}

img{
    width: 250px;
    height: 360px;
    transition: 0.3s all linear;
    border-radius: 25px;
}

table h2{
    color:white;
    transition: 0.3s all linear;
}
img:hover {
    box-shadow: 10px 1px 15px red;
}

table h2 {
    color: white;
}

#szovetseges:hover{
    color: crimson;
    transition: all ease-in-out 0.5s;
    
}
#tengely:hover{
    color: rgb(126, 207, 235);
    transition: all ease-in-out 0.5s;
}
