
.feladatok{
    margin-top: 1.5rem;
    background-color: black;
    border-radius: 25px;
    box-shadow: 15px 15px 10px black;
    max-width: 50%;
    margin: auto;
    font-size: 1.2rem;
}

h2{
    color: whitesmoke;
    margin-bottom: 1rem;
}
input{
    margin-bottom: 1rem;
}
.alairat{
    font-size: 0.9rem;
    color:whitesmoke;
    font-weight: bold;
}
.alairat:hover{
    transform: scale(1.2);
    color:crimson;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}
#ellenorzes{
    width: 150px;
    height: 30px;
    background-color: black;
    font-size: 1.5rem;
    border: none;
    margin-top: 1rem;
}
#ellenorzes:hover{
    color:rgb(224, 82, 111);
    transition: all ease-in-out 0.5s;
}