@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "KoHo", 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    background-image: url("pics/optional_background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1, h2, p {
    cursor: default;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 5px 5px 10px black;
    color: black;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    color: black;
    text-shadow: 5px 5px 10px black;
}

p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.4rem;
    transition: all 0.3s linear;
}

.centered-div {
    max-width: 35%;
    min-width: 250px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#bevezetes {
    background-color: black;
    margin-top: 1.5rem;
    border-radius: 25px;
    box-shadow: 15px 15px 10px black;
    padding: 1rem;
}

#tananyagok, #feladatok {
    margin-top: 1.5rem;
    background-color: black;
    border-radius: 25px;
    box-shadow: 15px 15px 10px black;
    padding: 1rem;
}

/* Media */
@media screen and (max-width: 550px) {
    .navbar {
        color: white;
        flex-direction: column;
    }

    a~.navlink {
        color: white;
        margin-top: 1.5rem;
    }
}
.line {
    color:  black;
    cursor: default;
    position: relative;
    transition: all 0.5s ease-in;
    margin-bottom: 20px;
  }
  .line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: -4px;
    transform: scaleX(0);
    /* box-shadow: 0 5px 0 lightgray; */
    background: white;
    transform-origin: bottom right;
    transition: all 0.5s ease-out;
  }
.line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.line:hover {
    color: whitesmoke;
}   

.navlink{
    color: white;
}

.navlink {
    margin-bottom: -0.3rem;
    color: white;
    cursor: pointer;
}

.link-back {
    color: white;
}

button {
    background-color: rgba(0,0,0,0);
    border: none;
}

#white-fg-button {
    color: white;
    cursor: pointer;
    margin: 1rem;
    transition: all linear 0.3s;
}

#white-fg-button:hover {
    color: greenyellow;
}

#white-fg-button:last-child:hover {
    color: crimson;
}

.display-panel p {
    text-align: justify;
}

.display-panel {
    text-align: center;
    padding: 1rem;
    background-color: gray;
    border-radius: 25px;
    box-shadow: 10px 10px 15px black;
    max-width: 35%;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-name {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .display-panel {
        top: 0%;
        transform: translate(-50%, 0%);
    }
}