* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../../pics/optional_background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


ul {
    list-style-type: disc;
    background-color: black;
    border-radius: 25px;
    box-shadow: 15px 15px 10px black;
    max-width: 30%;
    min-width: 250px;
    margin: auto;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    z-index: -15;
}

li {
    padding: 1rem;
    max-width: 80%;
    min-width: 250px;
    margin: auto;
    cursor: default;
    transition: all 0.3s linear;
    z-index: -15;
}

li:hover {
    color: crimson;
    font-size: 1.05rem;
}
