* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../../pics/optional_background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}