* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../../pics/optional_background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.line {
    color:  black;
    cursor: default;
    position: relative;
    transition: all 0.5s ease-in;
    margin-bottom: 20px;
  }
  .line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: -4px;
    transform: scaleX(0);
    box-shadow: 0 5px 0 red;
    background: red;
    box-shadow: 0 5px 0 lightgray;
    background: lightblue;
    transform-origin: bottom right;
    transition: all 0.5s ease-out;
  }
  .line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.line:hover {
    color: whitesmoke;
}   